*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: rgb(26, 51, 77);
    display: flex;
}

.card-container{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.card{
    width: calc(25% - 10px);
    height: calc(33%-10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
}

.card:active{
    transform: scale(.97);
    transition: transform .2s;
}

.front, 
.back {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(25, 5, 5);
    position: absolute;
    border: 2px solid #fff;
    backface-visibility: hidden;
}

.card.flip{
    transform: rotateY(180deg);
}

.front{
    transform:rotateY(180deg)
}


img{
    width: 100px;
}

